html, body, #root, .App {
  min-height: 100% !important;
  height: 100%;
}

.result-footer-selected {
  pointer-events: none;
}

.result-footer-to-select {
  color: #0077cc;
  cursor: pointer;
}

.result-footer-to-select:hover {
  color: #0095ff;
  cursor: pointer;
}

#root {
  overflow-x: hidden;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #000000;
  border-style: dashed;
  background-color:#e2e2e2;
  color: #000000;
  outline: none;
  transition: border .24s ease-in-out;
}

.result {
  cursor: pointer;
}

.result:hover {
  background-color: #f1f1f1;
}

@media (max-width: 767px) {
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
@media (max-width: 767px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}


main {
  margin-left: 270px;
}
